{% include header.html %}

<main class="resp-pf">

	<h1 class="text-center gotham-rounded-bok heading hw-font-heading"> Portfolio </h1>
	<!-- carousel-->

   		<div class="carousel-padding"> 
		   	<div class="line"></div>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

		   		<div class="container heading-caro-padd">
				    <!-- Wrapper for slides -->
				    <div class="carousel-inner" role="listbox">
				    	<h2 class="gotham-rounded-light hw-heading h2-color text-center hw-line-height">{{site.data.Portfolio.carousel.content}}</h2> 
					  	
				    </div>
				</div>
			</div>
	 	</div>

	<!-- end of carousel-->

				<!-- Start : Mobile view -->
		
				<div class="pf-mob container">
					<div class="pf-vertical-header">
						<div id="pvh-1" class="pf-vh pvh-active">
							<div class="pvh-1 pvh"></div>
							<span class="pvh-title">Dataops</span>
						</div>
						<div id="pvh-2" class="pf-vh">
							<div class="pvh-2 pvh"></div>
							<span class="pvh-title">Devops</span>
						</div>
						<div id="pvh-3" class="pf-vh">
							<div class="pvh-3 pvh"></div>
							<span class="pvh-title">Data Science</span>
						</div>
						<div id="pvh-4" class="pf-vh">
							<div class="pvh-4 pvh"></div>
							<span class="pvh-title">UI/UX</span>
						</div>
						<div id="pvh-5" class="pf-vh">
							<div class="pvh-5 pvh"></div>
							<span class="pvh-title">Mobility</span>
						</div>
					</div>
					<div class="pf-vertical-data">
						<div id="pvd-1" class="pvd-active pvd-inactive">
							{% include pf-dataops.html %}
						</div>
						<div id="pvd-2" class="pvd-inactive">
							{% include pf-devops.html %}
						</div>
						<div id="pvd-3" class="pvd-inactive">
							{% include pf-datascience.html %}
						</div>
						<div id="pvd-4" class="pvd-inactive">
							{% include pf-uxui.html %}
						</div>
						<div id="pvd-5" class="pvd-inactive">
							{% include pf-mobility.html %}
						</div>
						<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Coming Soon" class="hidden-lg"><button class="custom-btn">VIEW CASE STUDIES</button></a>
					</div>

			<!-- End : Mobile view -->
			</div>


		<!-- Working with-->
			<div class="hw-tools">
				<p class="text-center gotham-rounded-light hw-main-heading log-clr-backgrnd clr-white h-approch">Technology We <i class="fa fa-heart"></i>  to Work on:</p>

				<!-- tools list -->
					<div class="hw-tools-list container">
						<!-- row -->
							<div class="row">

								<!-- hw-tolls-details -->
									<div class="group" id="categories">
									    <ul class="colorFix">
									        <li>
									            <span>
									            <ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/java.jpg" alt="java"></li>
													<li>Java</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span>
									            <ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/python.jpg" alt="python"></li>
													<li>Python</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span>
									            <ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/mean.jpg" alt="mean"></li>
													<li>MEAN stack</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span>
									            <ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/aws.jpg" alt="aws"></li>
													<li>AWS</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span>
									            <ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/hadoop.jpg" alt="hadoop"></li>
													<li>Apache Hadoop</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span>
									            <ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/d3.jpg" alt="d3"></li>
													<li>D3 js</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span>
									            <ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/html5.jpg" alt="html5"></li>
													<li>HTML 5</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span><ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/css3.jpg" alt="css3"></li>
													<li>CSS 3</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span>
									            <ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/sass.jpg" alt="sass"></li>
													<li>Sass</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span>
									            <ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/less.jpg" alt="less"></li>
													<li>Less</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span><ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/coffee-script.jpg" alt="coffee-script"></li>
													<li>CoffeeScript</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span>
									            <ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/android.jpg" alt="android"></li>
													<li>Android/ios</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span>
									            <ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/oracle.jpg" alt="orace"></li>
													<li>Oracel Suits</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span>
									            <ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/oracle-servicebus.jpg" alt="oracle-servicebus"></li>
													<li>Oracle Service Bus</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span>
									            <ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/redis.jpg" alt="redis"></li>
													<li>Redis</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span>
									            <ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/rabbit.jpg" alt="rabbit"></li>
													<li>RabbitMQ</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span>
									            <ul class="clearfix">
													<li><img src="../assets/img/solutions/tools-technichs/socket.jpg" alt="socket"></li>
													<li>Socket.io</li>
													</ul>
													</span>
									        </li>
									        <li>
									            <span>
										            <ul class="clearfix">
														<li><img src="../assets/img/solutions/tools-technichs/PubNub.png" alt="pubnub"></li>
														<li>PubNub</li>
													</ul>
												</span>
									        </li>
									    </ul>
									</div>
								<!-- End of hw-tools-details -->

							</div>
						<!-- End of row -->
					</div>
				<!-- End of tools list -->

				<div class="client-backgrnd hw-works">
					<h2 class="gotham-rounded-bok hw-tab-heading text-center h2-color">How We Work</h2>
						
					<!-- hw-works-row	 -->
						<div class="hw-works-row container-fluid">
							<!-- row -->
								<div class="row">

									<div class="col-20">
										<div class="hw-work-cont arrow-top">
											<div class="img-outer">
												<img alt="book" src="/assets/img/solutions/book.svg">
											</div>
											<div class="hw-work-details">
												<h3 class="text-uppercase">Learn</h3>
												<p>Learn unique business problems by tapping the knowledge of the business climate &amp; technology</p>
											</div>
										</div>
									</div>

									<div class="col-20">
										<div class="hw-work-cont arrow-bottom">
											<div class="img-outer">
												<img alt="beaker" src="/assets/img/solutions/beaker.svg">
											</div>
											<div class="hw-work-details">
												<h3 class="text-uppercase">Research</h3>
												<p>Every customer engagement will undergo the process of learning their business &amp; market trends with bench marking</p>
											</div>
										</div>
									</div>

									<div class="col-20">
										<div class="hw-work-cont arrow-top">
											<div class="img-outer">
												<img alt="bubble" src="/assets/img/solutions/bubble.svg">
											</div>
											<div class="hw-work-details">
												<h3 class="text-uppercase">Consult</h3>
												<p>Our specialists &amp; technologists will reaffirm your business needs with their industry experience in designing an optimal IT solution</p>
											</div>
										</div>
									</div>

									<div class="col-20">
										<div class="hw-work-cont arrow-bottom">
											<div class="img-outer">
												<img alt="build" src="/assets/img/solutions/build.svg">
											</div>
											<div class="hw-work-details">
												<h3 class="text-uppercase">Build</h3>
												<p>The development &amp; test cycles will be short and rapid. Validate our deliverable in a continuous pipeline. We can quickly integrate your custom, legacy or enterprise class solutions</p>
											</div>
										</div>
									</div>

									<div class="col-20">
										<div class="hw-work-cont">
											<div class="img-outer">
												<img alt="van" src="/assets/img/solutions/van.svg">
											</div>
											<div class="hw-work-details">
												<h3 class="text-uppercase">Deliver</h3>
												<p>Our test driven development model on Agile will ensure on-time delivery of your projects with world class performance &amp; stability. Our solutions are highly scalable &amp; portable</p>
											</div>
										</div>
									</div>


								</div>
							<!-- End of row -->
								<div style="position: relative">
									<div class="apst-wrapper nav-scroll-up" style="right: 20px; bottom: 20px; position: fixed; display: block;">
									<div class="apst-button"></div>
									</div>
								</div>
						</div>
					<!-- End of hw-works-row -->
					</div>

			</div>
		<!-- End of Working with-->
	</main>	
	
<div id="hw-ribbon-our-thinking-footer" class="let-us-talk-td">
    <!-- blue ribbon div-->
    <div class=" log-clr-backgrnd container" id="hw-ribbon-our-thinking">
        <div class="row">
            <div class="col-lg-12 col-padding">
                <span class=
                "gotham-rounded-light ribon-font clr-white h-approch text-center">
                We <i class="fa fa-heart hm-heart"></i> to be your
                technology partners</span> <span class=
                "upskill-filter hm-talk-btn"><span><button class=
                " job-board-btn job-btn custom-btn heading-custom-btn hm-vertical hm-vertical1"
                data-target="#start-project" data-toggle=
                "modal"><span class="upskill-filter hm-talk-btn">TALK TO
                US</span></button></span></span>
            </div>
        </div>
    </div>
</div><!-- end of fixed tab-->
<!-- Work-together popup -->
<div class="modal fade" id="start-project">
    <div class="modal-dialog contact-modal">
        <div class="modal-content">
            <div class="container form-container">
                <span class="hm-contact"><i class=
                "fa fa-mobile"></i><span class=
                "hm-num gotham-rounded-light">+7259471785</span></span>
                <img alt="close" class="close-pop" data-dismiss="modal"
                src="/assets/svg/close-pop.svg">
                <h1 class="gotham-rounded-bold">Let's work together</h1>
                <hr>
                <div class="post-resume">
                    <form class="form-signin" onsubmit="submitForm(event)">
                        <!-- start of form -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="text-border">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                        <img src=
                                        "/assets/img/talent_acquisition/name-img.png"></div><input class="form-control placeholder-pro mainLoginInput input_name"
                                        id="name" placeholder="NAME" type=
                                        "text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="text-border">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                        <img src=
                                        "/assets/img/talent_acquisition/email-img.png"></div><input class="form-control placeholder-pro mainLoginInput input_email"
                                        id="email" placeholder="EMAIL"
                                        type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ms-row-mar">
                            <div class="col-lg-6">
                                <div class="text-border">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                        <img src=
                                        "/assets/img/talent_acquisition/sub-img.png"></div><select class="form-control mainLoginInput gotham-rounded-light input_subject sub-width"
                                        id="subject">
                                            <option value="Subject">
                                                Subject
                                            </option>
                                            <option class="level-0" value=
                                            "Marketing">
                                                Marketing
                                            </option>
                                            <option class="level-0" value=
                                            "Design">
                                                Design
                                            </option>
                                            <option class="level-0" value=
                                            "UX">
                                                UX
                                            </option>
                                            <option class="level-0" value=
                                            "WordPress">
                                                WordPress
                                            </option>
                                            <option class="level-0" value=
                                            "Strategy">
                                                Strategy
                                            </option>
                                            <option class="level-0" value=
                                            "Automations">
                                                Automations
                                            </option>
                                            <option class="level-0" value=
                                            "News">
                                                News
                                            </option>
                                            <option class="level-0" value=
                                            "Content">
                                                Content
                                            </option>
                                            <option class="level-0" value=
                                            "Social">
                                                Social Media
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="text-border">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                        <img src=
                                        "/assets/img/talent_acquisition/phone-img.png"></div><input class="form-control placeholder-pro mainLoginInput input_phone"
                                        id="phone" placeholder="PHONE"
                                        type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ms-row-mar">
                            <div class="col-lg-12">
                                <div class="text-border">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                        <img src=
                                        "/assets/img/talent_acquisition/sub-img.png"></div>
                                        <textarea class=
                                        "form-control placeholder-pro mainLoginInput input_message"
                                        id="message" placeholder=
                                        "MESSAGE/FEEDBACK/REQUEST" rows=
                                        "3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end of text-area row-->
                        <div class="attach-file">
                            <div class="col-lg-9">
                                <input class=
                                "gotham-book input_file-upload" id=
                                "file-upload" type="file"><br>
                                <br>
                                <span class="attach-text"><span><img src=
                                "/assets/img/talent_acquisition/attach.png">
                                </span><span class=
                                "gotham-rounded-bok attach-span">Attach
                                File</span></span> <input class=
                                "input_file-detail form-control placeholder-pro mainLoginInput"
                                id="file-detail" readonly="readonly" type=
                                "text">
                            </div>
                            <div class="col-lg-3 submit-background">
                                <button class="btn" id="submit-btn" type=
                                "submit"><br>
                                <div class="submit-resume hr-display"
                                style="margin: 0px auto;">
                                    <img class="img-submit" src=
                                    "/assets/img/talent_acquisition/submit.png">
                                    <p class=
                                    "gotham-rounded-bok submit-text placeholder-pro img-para">
                                    SUBMIT</p>
                                </div></button>
                            </div>
                        </div><!-- end of attach-file-->
                    </form><!-- end of form -->
                </div><!-- end of postresume -->
                <div class="show-as-love">
                    <!-- hm social icon-->
                    <div class="row">
                        <div class=" col-lg-offset-7 col-lg-5">
                            <div class="hm-shows-love">
                                <h1 class=
                                "gotham-rounded-bold hm-show-text hw-heading show-text1">
                                Show us your <i class=
                                "fa fa-heart hm-show-heart"></i></h1>
                                <div class="hm-icons hm-form-val">
                                    <a class=
                                    "fa-stack hw-socialshare social-icons"
                                    href=
                                    "https://www.facebook.com/hashworks/"><i class="fa fa-circle-thin fa-stack-2x">
                                    </i> <i class=
                                    "fa fa-facebook fa-stack-1x"></i></a>
                                    <a class=
                                    "fa-stack hw-socialshare social-icons"
                                    href=
                                    "https://twitter.com/hashworksco"><i class="fa fa-circle-thin fa-stack-2x">
                                    </i> <i class=
                                    "fa fa-twitter fa-stack-1x"></i></a>
                                    <a class=
                                    "fa-stack hw-socialshare social-icons"
                                    href=
                                    "https://www.linkedin.com/company/9228490">
                                    <i class=
                                    "fa fa-circle-thin fa-stack-2x"></i>
                                    <i class=
                                    "fa fa-linkedin fa-stack-1x"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end of hm-socia-icn-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of work-together popup -->
<!-- tab view end -->
<div id="hw-ribbon-our-thinking-footer-mob" class="let-us-talk-mob">
    <!-- blue ribbon div-->
    <div class=" log-clr-backgrnd container" id=
    "hw-ribbon-our-thinking">
        <div class="row">
            <div class="col-lg-12 col-padding">
                <span class=
                "gotham-rounded-light ribon-font clr-white h-approch text-center">
                We <i class="fa fa-heart hm-heart"></i> to be your
                technology partners</span> <span class=
                "upskill-filter"><span><button class=
                "our-heading-custom-btn" data-target="#start-project1"
                data-toggle="modal"><span class=
                "upskill-filter"><span class="upskill-filter">TALK TO
                US</span></span></button></span></span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="start-project1">
    <div class="modal-dialog contact-modal">
        <div class="modal-content">
            <div class="container form-container">
                <div class="es-popup">
                    <span class="gotham-rounded-bold es-pop-head">Let's
                    Work Together <img alt="close" class="close-pop"
                    data-dismiss="modal" src=
                    "/assets/img/engage-us-responsive/cross-img.png"></span>
                </div>
                <div class="post-resume">
                    <form class="form-signin" onsubmit=
                    "submitForm(event)">
                        <!-- start of form -->
                        <div class="text-border es-input-br-btm">
                            <div class="input-group">
                                <div class="input-group-addon">
                                <img src="/assets/img/talent_acquisition/name-img.png"></div><input class="form-control placeholder-pro mainLoginInput input_name"
                                id="name" placeholder="NAME" type=
                                "text">
                            </div>
                        </div>
                        <div class="text-border es-input-br-btm">
                            <div class="input-group">
                                <div class="input-group-addon">
                                <img src="/assets/img/talent_acquisition/email-img.png"></div><input class="form-control placeholder-pro mainLoginInput input_email"
                                id="email" placeholder="EMAIL" type=
                                "text">
                            </div>
                        </div>
                        <div class="text-border es-input-br-btm">
                            <div class="input-group">
                                <div class="input-group-addon">
                                <img src="/assets/img/talent_acquisition/sub-img.png"></div><select class="form-control mainLoginInput gotham-rounded-light input_subject sub-width"
                                id="subject">
                                    <option value="Subject">
                                        Subject
                                    </option>
                                    <option class="level-0" value=
                                    "Marketing">
                                        Marketing
                                    </option>
                                    <option class="level-0" value=
                                    "Design">
                                        Design
                                    </option>
                                    <option class="level-0" value="UX">
                                        UX
                                    </option>
                                    <option class="level-0" value=
                                    "WordPress">
                                        WordPress
                                    </option>
                                    <option class="level-0" value=
                                    "Strategy">
                                        Strategy
                                    </option>
                                    <option class="level-0" value=
                                    "Automations">
                                        Automations
                                    </option>
                                    <option class="level-0" value=
                                    "News">
                                        News
                                    </option>
                                    <option class="level-0" value=
                                    "Content">
                                        Content
                                    </option>
                                    <option class="level-0" value=
                                    "Social">
                                        Social Media
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="text-border es-input-br-btm">
                            <div class="input-group">
                                <div class="input-group-addon">
                                <img src="/assets/img/talent_acquisition/phone-img.png"></div><input class="form-control placeholder-pro mainLoginInput input_phone"
                                id="phone" placeholder="PHONE" type=
                                "text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class=
                                "text-border es-input-br-btm">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                        <img src=
                                        "/assets/img/talent_acquisition/sub-img.png"></div>
                                        <textarea class=
                                        "form-control placeholder-pro mainLoginInput input_message"
                                        id="message" placeholder=
                                        "MESSAGE/FEEDBACK/REQUEST"
                                        rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end of text-area row-->
                        <div class="attach-file">
                            <div class="col-md-7 col-sm-7 col-xs-7">
                                <input class=
                                "gotham-book input_file-upload" id=
                                "file-upload" type="file"><br>
                                <br>
                                <span class=
                                "attach-text"><span><img src=
                                "/assets/img/talent_acquisition/attach.png">
                                </span> <span class=
                                "gotham-rounded-bok es-attach-span">ATTACH
                                FILE</span></span> 
                                <!-- <input type="text"  class="input_file-detail form-control placeholder-pro mainLoginInput"  id="file-detail" readonly="readonly"/> -->
                            </div>
                            <div class=
                            "col-md-5 col-sm-5 col-xs-5 submit-background">
                            <button class="btn" id="submit-btn"
                                type="submit"><br>
                                <div class="submit-resume hr-display"
                                style="margin: 0px auto;">
                                    <img class="img-submit" src=
                                    "/assets/img/talent_acquisition/submit.png">
                                    <p class=
                                    "gotham-rounded-bok submit-text placeholder-pro img-para">
                                    SUBMIT</p>
                                </div></button>
                            </div>
                        </div><!-- end of attach-file-->
                    </form><!-- end of form -->
                </div><!-- end of postresume -->
            </div>
        </div>
    </div>
</div>

	</div>
{% include footer.html %}
{% include html-footer.html %}
<script type="text/javascript">
  $('.ux-ui-carousel-inerval').carousel({
  interval:500
})
</script>